.tooltip {
  display: inline;
  float: right;
  &:focus {
    @include noBorderOutline();
  }
}

/* gap filler */
.tooltip::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: calc(100% - 20px);
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip.hover::after, .tooltip.focus::after {
  pointer-events: auto;
}

/* tooltip */
.tooltip-content {
  @include hindFont();
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 100%;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  color: $almostWhite;
  background: transparent;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}

.tooltip.hover .tooltip-content, .tooltip.focus .tooltip-content {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.tooltip-content span {
  display: block;
}

.tooltip-text {
  border-bottom: 10px solid $faded-periwinkle;
  overflow: hidden;
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}

.tooltip.hover .tooltip-text, .tooltip.focus .tooltip-text {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

.tooltip-inner {
  background: $slate-grey;
  padding: 40px;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.tooltip.hover .tooltip-inner, .tooltip.focus .tooltip-inner {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* arrow */
.tooltip-content::after {
  content: '';
  bottom: -20px;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: $faded-periwinkle;
  border-width: 10px;
  margin-left: -10px;
}

@media (min-width: 640px) {
  .tooltip-content {
    left: 0px;
    right: 0px;
  }
}